<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/sobre.css" media="screen" />


    <title>Sobre</title>
</head>

<body>
    <!--menu na direita colocar simbolo do gitH e link-->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Popular Movies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="textoNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(Página atual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api">API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sobre">Sobre</a>
                </li>
            </ul>
            <span class="navbar-text">
            <a href="https://github.com/1ricardo66/NodeJs-PopularMovies"><img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" width="50px" height="50px" alt="Logo GitHub"></a>
          </span>
        </div>
    </nav>
    <div class="sobre">
        <h1 class="centro" style="text-align:center;">Popular movies</h1>
        <!--Identar html-->
        <div class="po">
            <h3> Pequeno projeto onde o principal foco é o Back-End(Web Crawling)</h3>
            <h3>As principais missões são:</h3>

        </div>
        <div class="porc">
            <h4>1° Conseguir fazer Web Crawling<i class="fa fa-check"></i></h4>
            <h4>2° Conseguir criar uma api propria através desses dados<i class="fa fa-check"></i></h4>
            <h4>3° Conseguir inserir todos os dados em uma variavel<i class="fa fa-check"></i></h4>
            <h4>4° Passar todos os dados de forma organizada para o front<i class="fa fa-check"></i></h4>
            <h4 class="hard">5° Deixar o front bonito <i class="fa fa-close"></i><i class="fa fa-close"></i><i class="fa fa-close"></i></h4>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>