body {
    background-color: #a7b5e4cb;
}

ul {
    list-style-type: none
}

.filmes {
    padding-top: 7%;
}

.img {
    margin-left: 30%;
}

.titulo {
    margin-top: -6%;
    margin-left: 47.5%;
}

.nota {
    text-align: center;
}